* {
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
}


.main-container {
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    justify-items: center;
}

.main-container>* {
    grid-column: 2;
    place-items: center;
    margin: 40px 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-color: aliceblue;
}

.main-nav {
    display: flex;
}

.gallery-layout {
    display: flex;
    flex-direction: column;
}

.gallery-layout>* {
    margin: 25px 0;

}

.search-gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.freq-search {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-container {
    gap: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}


.editor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: fit-content;
}

.editor-container>* {
    width: fit-content;

}

.paint-options {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 15px;

}

.hide {
    z-index: -1;
    display: none;
}

.main-screen {
    inset: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

.hamburger-btn {
    margin-right: 30px;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
    border: 0.1px solid white;
}