* {
    box-sizing: border-box;
    margin: 0;
}


.main-container {
    display: grid;
    grid-template-columns: minmax(40px, 1fr) minmax(auto, 1260px) minmax(40px, 1fr);


}

.main-container>* {
    grid-column: 2;
    place-items: center;
    margin: 15px 0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    background-color: aliceblue;
}

.main-nav {
    display: flex;
}

.gallery-layout {
    display: flex;
    flex-direction: column;

}
.gallery-layout>* {
    margin: 25px 0;
 
 }
 .search-gallery-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
 }
 .freq-search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-container {
    height: fit-content;
    gap: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}







.editor-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.editor-container>* {
    width: fit-content;
}

.paint-options {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    place-items: center;

}

.hide {
    z-index: -1;
    display: none;
}