@media(max-width:400px) {

    body,
    html {
        max-width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    .main-container {
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        justify-items: center;
    }

    .main-container>* {
        margin: 5px auto;

    }

    .search-gallery-container {
        flex-direction: column;
        gap: 20px;
    }

    .main-header {
        width: 90vw;
    }

    .freq-search {
        width: 100%;
        font-size: 0.5rem;
    }

    .righSide-srch {
        width: 90%;
        flex-direction: column;
        gap: 20px;
    }

    .gallery-layout>* {
        margin: 5px 0;
    }

    .gallery-container {
        grid-template-columns: 1fr;
        height: fit-content;
        width: 70vw;
    }

    .editor-container>* {
        width: 90vmin;
        height: 90vmin;
    }

    .scroll-container {
        overflow: hidden;
    }

    .txt-input {
        font-size: unset;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        background-color: rgba(72, 206, 141, 0.9);
        z-index: 5;
        transform: translateX(100%);

    }

    .main-nav>* {
        text-decoration: none;
        margin: 15px 40px;
        color: white;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
    }
    .modal{
        width: 90vw;
    }
}

@media (min-width:400px) {

    body,
    html {
        max-width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    .main-header {
        width: 90vw;
    }

    .search-gallery-container {
        flex-direction: column;
        gap: 20px;
    }

    .main-container {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 360px) minmax(16px, 1fr);

    }

    .gallery-container {
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        width: 90vw;
    }

    .main-nav>* {

        margin: auto 20px;

    }

    .editor-container {
        width: 90vw;
    }

    .editor-container>* {
        width: 90vmin;
        height: 90vmin;
    }


    .gallery-layout {}

    .freq-search {
        width: 90%;
        font-size: 0.6rem;
    }

    .srch-gallery {
        width: 90%;
    }

    .main-screen {
        display: none;
    }

    .hamburger-btn {
        display: none;
    }

}

@media (min-width:780px) {
    .main-container {
        grid-template-columns: minmax(40px, 1fr) minmax(auto, 740px) minmax(40px, 1fr);

    }

    .gallery-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .search-gallery-container {
        flex-direction: unset;
    }

    .editor-container {
        flex-direction: unset;
    }

    .editor-container>* {
        width: 50vmin;
        height: 44vmin;
    }



    .righSide-srch {
        width: 55%;
    }

    .freq-search {
        width: 70%;
    }

    .srch-gallery {
        width: 45%;
    }

}

@media (min-width:1600px){
    .main-container {
        grid-template-columns: minmax(40px, 1fr) minmax(auto, 1540px) minmax(40px, 1fr);

    }
    .main-header {
        width: 63vw;
    }
    .gallery-container{
        width: 60vw;
    }
}