@media(max-width:400px) {

    body,
    html {
        max-width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    .main-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        background-color: rgba(255 255, 255, 0.5);
        z-index: 5;
        transform: translateX(100%);

    }
    .main-nav>* {
        text-decoration: none;
        margin: 15px 10px;
        color: white;
    }
    body.menu-open .main-nav{
        transform: translateX(0);
    }
}

.canvas-container {
    width: 360px;
    height: 360px;
}

.search-gallery-container {
    flex-direction: column;
    gap: 20px;
}

.righSide-srch {
    width: 90%;
    flex-direction: column;
}

.freq-search {
    width: 85%;

}

.freq-search {
    width: 90%;
    font-size: 0.5rem;
}

.srch-gallery {
    width: 90%;


}

.paint-options {
    gap: 20px;
}

.gallery-container {
    grid-template-columns: 1fr;
    height: fit-content;
}


.scroll-container {
    overflow: hidden;
}

.gallery-layout {
    width: 90vw;
}

.main-header {
    width: 90vw;
}

.txt-input {
    font-size: unset;
}





@media (min-width:400px) {

    body,
    html {
        max-width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }

    .search-gallery-container {
        flex-direction: column;
        gap: 20px;
    }

    .main-container {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 360px) minmax(16px, 1fr);

    }

    .gallery-container {
        grid-template-columns: 1fr 1fr;
        height: fit-content;

    }

    .main-nav>* {

        margin: auto 20px;

    }

    .editor-container {
        width: 90vw;
    }
 
    .editor-container>* {
        width: 100%;
        height: 50%;
    }


    .gallery-layout {
        width: 90vw;
    }

    .freq-search {
        width: 90%;
        font-size: 0.6rem;
    }

    .srch-gallery {
        width: 90%;
    }
    .main-screen{
        display: none;
    }
    .hamburger-btn{
        display: none;
    }

}

@media (min-width:780px) {
    .main-container {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 740px) minmax(16px, 1fr);

    }

    .gallery-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .search-gallery-container {
        flex-direction: unset;
    }

    .editor-container {
        flex-direction: unset;
    }

    .editor-container>* {
        width: 50%;
        height: 100%;
    }



    .righSide-srch {
        width: 55%;
    }

    .freq-search {
        width: 70%;
    }

    .srch-gallery {
        width: 45%;
    }

}