.main-header {
    background: linear-gradient(to right, #3d92b9, #37cd84);
    height: fit-content;
    border-radius: 500px;
    box-shadow: 3px 3px 3px 3px rgb(13, 1, 1);
}

.logo {
    margin-inline-start:5%;
    font-family: poppins-regular;
    width: 100px;
    height: 100px;
}

.main-nav {
    font-family: poppins-regular;
    font-size: 1.35rem;
    margin-inline-end:5%;

}

.main-nav>* {
    text-decoration: none;
    margin: auto 60px;
    color: white;
}